<!DOCTYPE html>
<html>
<head>
  <title>Besingamk</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
</body>
</html>
